.site-header {
	background-color: #26303a;
	position: relative;
}

.site-header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include lg {
		padding: 10px 0;
	}
}

.site-header__top {
	background-color: #222a33;
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-header__bottom {
	min-height: 530px;

	@include lg {
		height: 386px;
		min-height: auto;
	}

	@include rwd(1500) {
		height: 586px;
	}
}

.site-header__single-link {
	color: #becde3;
	font-size: 1.4rem;
	margin-right: 22px;
	transition: color 300ms ease-in-out;

	&:hover {
		color: #fff;
	}
}

.site-header__links {
	display: flex;
	align-items: center;
}

.site-header__banner {
	height: 531px;
	object-fit: cover;
	object-position: top;

	@include lg {
		width: 100%;
		height: 386px;
		object-position: bottom;
	}

	@include rwd(1500) {
		height: 586px;
	}
}

.site-header__nav {
	height: 66px;
}

.nav--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 66px;
	z-index: 200;
	background-color: #26303a;
}

.extra-padding {
	padding-top: 66px;
}
